            <!--shipping area start-->
            <div class="shipping_area shipping_contact ">
                <div class="container">
                    <div class="shipping_contact">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="single_shipping">
                                    <div class="shipping_icone">
                                        <span class="pe-7s-call"></span>
                                    </div>
                                    <div class="shipping_content">
                                        <h3><a href="tel:8-800-535-35-35">8-800-535-35-35</a></h3>
                                        <p>Телефон поддержки</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="single_shipping">
                                    <div class="shipping_icone">
                                        <span class="pe-7s-mail"></span>
                                    </div>
                                    <div class="shipping_content">
                                        <h3><a href="mailto:support@chipi.ru">support@chipi.ru</a></h3>
                                        <p>Почта для связи</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="single_shipping column_3">
                                    <div class="shipping_icone">
                                        <span class="pe-7s-timer"></span>
                                    </div>
                                    <div class="shipping_content">
                                        <h3>Пн - Вс / 9:00 - 18:00</h3>
                                        <p>Операторы ответят вам в рабочее время <br> 7 дней в неделю</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--shipping area end-->

            <!--footer area start-->
            <div class="footer_area">
                <div class="container">
                    <div class="footer_top">
                        <div class="row">
                            <div class="col-lg-4 col-md-8">
                                <div class="single_footer">
                                    <div class="footer_contact">
                                        <ul>
                                            <li><i class="ion-location"></i>Москва, ул. Пушкина, д. Колотушкина, 123456</li>
                                            <li><i class="ion-ios-telephone"></i><a href="tel:8-800-535-35-35">8-800-535-35-35</a></li>
                                            <li><i class="ion-ios-email"></i> <a href="mailto:support@chipi.ru">support@chipi.ru</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <div class="single_footer">
                                    <h3>Покупателям</h3>
                                    <ul>
                                        <li><a href="contacts">Контакты</a></li>
                                        <li><a href="return">Возврат</a></li>
                                        <li><a href="order_history">История заказов</a></li>
                                        <li><a href="{{ url_for('my_account') }}">Мой аккаунт</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <div class="single_footer" style="white-space: nowrap;">
                                    <h3>Компания</h3>
                                    <ul>
                                        <li><a href="about">О компании</a></li>
                                        <li><a href="delivery">Доставка</a></li>
                                        <li><a href="private_policy">Политика конфиденциальности</a></li>
                                        <li><a href="faq">FAQ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright_area">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="copyright_content">
                                    <p>&copy; 2024, <a href="/chipi">Чипи</a>. Все права защищены.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--footer area end-->
